.oAuth2SiakadTitle{
    display: none;
}

.oAuthSiakadInput {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.oAuthSiakadButton{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#oAuth2SiakadSubmit{
    background-color: #f4b80c !important;
    padding: 7px !important;
    border: none !important;
    font-size: 16px !important;
}

#oAuth2SiakadSubmit:hover{
    background-color: #d7a311 !important;
    border: none !important;
    transition: 300ms ease-in-out;
}

#oAuth2Siakad {
}
#oAuth2SiakadInput1 {
	margin-bottom: 10px !important;
}
#oAuth2SiakadLabel1 {
	
}
#oAuth2SiakadInput1 {
	
}
#oAuth2SiakadLabel2 {
	margin-bottom: 10px !important;
}
#oAuth2SiakadInput2 {
	
}
#oAuth2SiakadLabel3 {
	
}
#oAuth2SiakadInput3 {
	margin-bottom: 10px !important;
}
#oAuth2ClientResult {
}
